/* 전체 선택자 */
/* 전체 글자를 모두 선택해서 파랑 */
/* 색상명 blue */
*{
    color:blue;
}

/* p를 선택해서 회색 16진수를 이용 */
p{
    /* color:#555555; */
    color:#555;
}

/* 클래스 선택자
color3을 선택해서 글자색 빨강-16진수 */
.color3{
    color:#ff0000;
}

/* .color를 모두 선택하여 글자색 변경 
10진수기법 rgb(빨강,초록,파랑)
0~255
0:없다 검정
255: 모두채운다 흰색 */
.color{
    color:rgba(4, 70, 252, 0.651);
}
/* 아이디선택자 #아이디명
 */
 #idColor{
    color:salmon;
 }