/* 전체 선택자
모든 글자의 크기를 20px로 변경
기본크기 16px */
*{
    font-size:20px
}

/* .unit-em을 선택하여 
글자크기를 기본의 2배로 만들기 - 부모 */
.unit-em{
    font-size:2em;
}

/* unit-rem을 선택하여 글자크기를
루트 맨 상단의 기본 크기의 2배로 만들기 */
.unit-rem{
    font-size:2rem;
}