div{
    width:300px;
    height:190px;
    background:palegreen;
    margin:10px;
}
/* .box1 사방의 모서리 둥글기를 20px */
.box1{
    border-radius:20px;
}

/* .box2 위왼쪽, 아래오른쪽 10 위오른쪽, 아래왼쪽 50 */
.box2{
    border-radius:10px 50px;
}

/* .box3 위왼쪽 0 위오른쪽,아래왼쪽 20 아래오른쪽 50 */
.box3{
    /* border-radius:0 20px 50px; */
    /* top,left-start
    bottom,right-end */
    border-start-start-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 50px;
}

/* .box 위왼쪽 20 위오른쪽 50 아래오른쪽 0 아래왼쪽 70 */
/* 위왼쪽부터 시계방향으로 쓰기 */
.box4{
    /* border-radius: 20px 50px 0 70px */
    border-start-start-radius: 20px;
    border-start-end-radius: 50px;
    border-end-end-radius: 0;
    border-end-start-radius: 70px;
}

/* .box5 아래오른쪽 50 */
.box5{
    border-end-end-radius: 50px;
}

/* .box6 아래왼쪽 30px */
.box6{
    border-bottom-left-radius: 30px;
}

/* .box7 모서리둥글기의 가로세로 크기 다르게 줄 때
가로/세로 이렇게 쓰면됨 */
.box7{
    border-radius:10px/70px;
}