/* 모든 태그의 margin값을 0으로 바꿀 때 */
*{
    margin:0;
}

h1{
    background:powderblue;
    margin-bottom:50px;

}
p{
    background:plum;
    margin-left:100px;
}
div{
    background:lemonchiffon;
    border:1px solid palegreen;
}

/* 사방으로 50px */
.box1{
    margin:50px;
}
/* .box2 위쪽아래쪽 20 왼쪽오른쪽 100
위쪽에서 준 아래여백, 현 요소에 준 위쪽여백은 겹친다
마진겹침현상 - 큰값 하나만 적용됨 */
.box2{
    margin:20px 100px;
}
/* .box3 위100 왼오50 아래10 */
.box3{
    margin:100px 50px 10px;
}
/* .box4 위를 기준으로 시계방향
70 10 50 100 */
.box4{
    margin:70px 10px 50px 100px;
}
/* .box5 왼100 오20 위100 아래30 */
.box5{
    /* margin-left:100px; */
    margin-inline-start:100px;
    /* margin-right:20px; */
    margin-inline-end:20px;
    /* margin-top:100px; */
    margin-block-start:100px;
    /* margin-bottom:30px; */
    margin-block-end:30px;
}