.img-box{
    width:400px;
    margin:100px;
    position:relative;
}
.img-box::before,
.img-box::after{
    content:"";
    display:block;
    width:0%;
    height:1px;
    background:deeppink;
    position:absolute;
    transition:0.5s;
}
.img-box>a::before,
.img-box>a::after{
    content:"";
    display:block;
    width:1px;
    height:0%;
    background:deepskyblue;
    position:absolute;
    transition:0.5s;
}
.img-box>a::before{
    bottom:0;
}
.img-box>a::after{
    right:0;
    top:0;
}


.img-box::before{

}
.img-box::after{
    right:0;
}
.img-box>a{}

.img-box>a>img{
    width:100%;
}

.img-box:hover::before,
.img-box:hover::after{
    width:100%;
}
.img-box:hover>a::before,
.img-box:hover>a::after{
    height:100%;
}